html{
	box-sizing: border-box;
	font-family: 'Contrail One', cursive;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	margin: 0;
}
header{
	background-color: #2c3950;
	height: 242px;
}
p{
	background-color: #1a2230;
	margin: 0;
	padding: 1em;
	text-align: center;
	color: white;
	font-size: 2rem;
}
.robot {
	width: 320px;
	position: relative;
	margin: 0 auto;
}
.body {
width: 320px;
	position: relative;
	top: 57px;
}
.brain {
	width: 46px;
	position: absolute;
	right: 137px;
	top: 60px;
}
.head-right {
	width: 125px;
	position: absolute;
	top: 19px;
  right: 35px;
}
.head-left {
	width: 125px;
	position: absolute;
	top: 19px;
  left: 35px;
}
header:hover .head-right{
	right: -26px;
	transition: all 250ms linear;
}
header:hover .head-left{
	left: -26px;
	transition: all 250ms linear;
}
header:hover .brain{
	top: 39px;
	transition: all 200ms linear;
}
